.footer-col {
    width: 100%;
    padding: 0 15px;
}

    .footer-col h4 {
        text-transform: capitalize;
        position: relative;
        margin-bottom: 30px;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 100px; /*Tạo đường viền gạch chân*/
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        text-decoration: none;
        display: block;
        transition: all 0.3s ease;
        color: black;
    }

        .footer-col ul li a:hover {
            color: red;
            padding-left: 10px;
        }

    .footer-col .sosial-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(0,0,0,0.2);
        margin: 0 10px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: black;
    }

        .footer-col .sosial-links a:hover {
            color: red;
        }
